<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts.min.js"></script>

  </head>

  <body>
    <div class="jumbotron">
        <div class="container">
            <h1>运维平台</h1>
            <p>斯凯网络是移动互联网平台的自主创新者。2005年，斯凯网络推出了冒泡平台。作为第一个完全由中国自主研发的手机软件平台，冒泡平台实现了国产手机智能化和软件平台的统一， 同时开创了中国的“APPStore”，并首创软件“免费推广”模式。斯凯成功将手机产业链上下游的厂商、制造商、移动增值服务商SP、手机应用和游戏开发商CP、移动运营商、 移动终端消费者等全部纳入冒泡平台，完成了构建中国最为完整的移动互联网生态体系的壮举，彻底改变了手机软件行业的商业模式。斯凯已经发展成为移动互联网应用平台企业， 累积海内外用户数已达12亿，下载次数突破110亿次，位列全球第三。</p>
            <p><a class="btn btn-info btn-lg"  href="http://192.168.3.32" role="button">进入Sql/Shell执行平台</a> </p>
        </div>
    </div>


        <hr>

        <div class="container" style="margin-top:100px">
     <form  method="POST" class="form-horizontal" role="form" style="width:550px;margin:0px auto;">
        <div class="form-group">
            <label class="col-sm-2 control-label">用户名:</label>
            <div class="col-sm-10">
                <input type="User" class="form-control" placeholder="User" id="inputEmail" name="username">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">密码:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" placeholder="password" id="inputPassword" name="password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> 记住密码
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" id="send">登录</button>
            </div>
        </div>
    </form>
<div class="text-right">
<address>
  <strong>tts_ops</strong><br>
  <abbr title="Phone">P:</abbr> (0) 13372542902<br>
  <a href="mailto:#">bh6886@qq.com</a>
</address>
</div>




    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>